.product-details-reviews {
  display: flex;
  flex-direction: column;
  align-items: center;

  .add-review--btn {
    max-width: 200px;
    width: 100%;
    height: 60px;
    border-radius: 7.5px;
    box-shadow: 0 0.5px 3px 0 rgba(22, 140, 52, 0.2);
    background-color: #fff;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.24s ease all;

    font-family: PoppinsRegular, sans-serif;
    font-size: 12px;
    letter-spacing: 0.9px;
    color: #a2c3aa;

    &:hover {
      background-color: rgba(250, 248, 248, 0.973);
    }
  }

  form.product-details-reviews-form {
    max-width: 700px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 280px);
    padding: 20px;
    border-radius: 20px;
    grid-auto-rows: auto;
    row-gap: 21px;
    column-gap: 40px;
    justify-content: center;
    margin-top: 40px;

    .rating-stars {
      display: flex;
      flex-direction: column;
      gap: 13px;
    }

    label {
      font-family: "PoppinsRegular";
      font-size: 15px;
      font-weight: normal;
      letter-spacing: 1.5px;
      color: #a2c3aa;
    }

    .review-input {
      display: flex;
      flex-direction: column;
      gap: 13px;

      input {
        width: 100%;
        height: 49px;
        border-radius: 10px;
        box-shadow: 0 1px 6px 0 rgba(22, 140, 52, 0.25);
        background-color: #fff;
        border: none;
        outline: none;
        padding: 13px 20px;

        &::placeholder {
          font-family: PoppinsRegular, sans-serif;
        }
      }

      &.username {
        grid-row: 2 / 3;
      }

      &.email {
        grid-row: 2 / 3;
      }

      &.title {
        grid-row: 3 / 4;
        grid-column: 1 / -1;

        input {
          width: 100%;
        }
      }
    }

    .review-textarea {
      grid-row: 4 / 5;
      display: flex;
      gap: 13px;
      flex-direction: column;
      textarea {
        min-height: 150px;
        max-height: 150px;
        min-width: 600px;
        max-width: 600px;
        width: 100%;
        padding: 13px 20px;
        border: none;
        outline: none;
        border-radius: 10px;
        box-shadow: 0 1px 6px 0 rgba(22, 140, 52, 0.25);
        background-color: #fff;

        &::placeholder {
          font-family: PoppinsRegular, sans-serif;
        }
      }
    }

    .submit {
      grid-row: 5 / 6;
      grid-column: 1 / -1;
      width: 100%;
      text-align: end;

      button {
        max-width: 201px;
        width: 100%;
        height: 49px;
        border-radius: 15px;
        box-shadow: 0 1px 6px 0 rgba(22, 140, 52, 0.25);
        background-color: #fff;
        border: none;
        outline: none;
        cursor: pointer;
        font-family: "PoppinsRegular", sans-serif;
        font-size: 15px;
        font-weight: normal;
        letter-spacing: 1.5px;
        color: #a2c3aa;
      }
    }
  }
}

@media (max-width: 700px) {
  .product-details-reviews {
    .add-review--btn {
      max-width: 80%;
    }

    form.product-details-reviews-form {
      grid-template-columns: 1fr;
      grid-auto-rows: auto;
      justify-content: start;
      padding: 20px;
      width: 90%;

      label {
        font-size: 12px;
      }

      .review-input {
        display: flex;
        flex-direction: column;
        gap: 4px;

        input {
          width: 90%;
          width: 100%;
          height: 40px;
          border-radius: 8px;
          box-shadow: 0 1px 6px 0 rgba(22, 140, 52, 0.25);
          background-color: #fff;
          border: none;
          outline: none;
          padding: 13px 12px;

          &::placeholder {
            font-family: PoppinsRegular, sans-serif;
          }
        }

        &.username {
          grid-row: 1 / 2;
        }

        &.email {
          grid-row: 2 / 3;
        }

        &.title {
          grid-row: 3 / 4;
        }
      }

      .review-textarea {
        grid-row: 4 / 5;
        display: flex;
        gap: 13px;
        flex-direction: column;
        max-width: 100%;
        textarea {
          min-height: 150px;
          max-height: 150px;
          min-width: 100%;
          max-width: 100%;
          width: 100%;
          resize: none;
          padding: 13px 20px;
          border: none;
          outline: none;
          border-radius: 10px;
          box-shadow: 0 1px 6px 0 rgba(22, 140, 52, 0.25);
          background-color: #fff;

          &::placeholder {
            font-family: PoppinsRegular, sans-serif;
          }
        }
      }

      .submit {
        grid-row: 5 / 6;
        grid-column: 1 / -1;
        width: 100%;
        text-align: end;

        button {
          max-width: 100%;
          width: 100%;
          height: 49px;
          border-radius: 15px;
          box-shadow: 0 1px 6px 0 rgba(22, 140, 52, 0.25);
          background-color: #fff;
          border: none;
          outline: none;
          cursor: pointer;
          font-family: "PoppinsRegular", sans-serif;
          font-size: 15px;
          font-weight: normal;
          letter-spacing: 1.5px;
          color: #a2c3aa;
        }
      }
    }
  }
}
