.rating-stars-wrapper {
    display: inline-flex;

    .star-image {
        background-color: white;
        position: relative;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-content: center;;
        cursor: pointer;
    }
}