.navbarCategories {
  display: flex;
  flex-direction: column;
  align-items: center;

  .navbarCategories__list {
    width: 58rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbarCategories__item {
    position: relative;
  }

  .navbarCategories__item.active {
    transition: color 0.3s ease-out;

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 50%;
      transform: translateX(-50%);
      width: 0.6rem;
      height: 0.6rem;
      border-radius: 50%;
      background: $color-primary-red;
      box-shadow: 0 1px 1px rgba($color-shadow, 0.3);
    }
  }
  .navbarCategories__link {
    text-decoration: none;
    font-size: $nav-font-size;
    color: $color-green;
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    text-shadow: 0 1px 2px rgba($color-shadow, 0.3);

    &:hover {
      color: $color-primary-red;
    }
  }

  .navbarCategories__item.active {
    .navbarCategories__link {
      color: $color-primary-red;
    }
  }
  .dot {
    display: none;
  }
  .active__dot {
    display: flex;
    position: absolute;
    width: 0.6rem;
    height: 0.6rem;
    bottom: 0;
    left: 50%;
    border-radius: 50%;
    background-color: $color-primary-red;
  }

  .greenLine {
    height: 0.1rem;
    width: 87.8rem;
    background-color: $color-green;
    margin-top: 2.75rem;
  }
}
