.navbar {
  padding: 0px 40px;
  background-color: white;
  max-width: 1366px;
  width: 100%;
  //! TOP

  .top {
    display: grid;
    grid-template-columns: 6% 21% 1fr 22%;
    align-items: center;
    position: relative;
    height: 15vh;

    .navbar-mobile {
      display: none;
    }

    .flag {
      .flag-image {
        position: relative;
        max-width: 40px;
        width: 100%;
        height: 24px;
      }
    }

    .orar {
      cursor: pointer;
      max-width: 26.2rem;

      .orar-box {
        width: 100%;
        max-width: 26.2rem;
        height: 34.5px;
        border-radius: 2.5px;
        box-shadow: 0 0.5px 3px 0 rgba(22, 140, 52, 0.25);
        background-color: #fff;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 1rem;
        position: relative;

        .orar-box--item {
          display: flex;
          align-items: center;
          gap: 6px;

          .closed {
            color: $color-primary-red;
          }

          p {
            font-family: PoppinsRegular, sans-serif;
            font-size: 1.5rem;
            font-weight: normal;
            color: #19832b;
          }
          .orar-box--icon {
            font-size: 1.579rem;
            color: $color-shadow;
            position: absolute;
            top: 25%;
            right: 3%;
          }
        }

        ul.orar-dropdown {
          display: flex;
          flex-direction: column;
          position: absolute;
          top: calc(100% + 6px);
          left: 0;
          width: 100%;
          z-index: 20;
          background: white;
          border-radius: 15px;
          padding: 10px 0;

          li {
            display: flex;
            gap: 10px;
            padding: 8px 12px;

            p {
              font-family: PoppinsRegular, sans-serif;
              font-size: 1rem;
              font-weight: normal;
              color: $color-shadow;
            }
            .orar-day {
              width: 6.2rem;
              text-align: right;
              text-transform: uppercase;
              color: #3e7b48;
            }
            .orar-line-middle {
              color: $color-primary-green;
            }
          }
        }
      }
    }

    .logo {
      position: relative;
      max-width: 120px;
      width: 100%;
      height: 70px;
      margin: auto;
    }

    .media {
      display: flex;
      gap: 10px;
      justify-content: flex-end;
      align-items: center;

      .facebook-image {
        position: relative;
        max-width: 8px;
        width: 100%;
        height: 20px;
      }

      .whatsapp-image {
        position: relative;
        max-width: 20px;
        width: 100%;
        height: 20px;
      }

      p {
        text-shadow: 0 0.5px 0.5px rgba(77, 77, 77, 0.3);
        font-family: PoppinsRegular, sans-serif;
        font-size: 1.3rem;
        font-weight: 500;
        color: #4d4d4d;
      }
    }
  }
}

.navbar--sub-nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
  border-radius: 0 0 1.2rem 1.2rem;
  transition: 0.4s ease all;
  &.active {
    background-color: rgba(255, 255, 255, 0.966);
  }
}

.navbar--sub-list {
  display: flex;
  padding: 20px 0;
  justify-content: center;
  gap: 3rem;
  // border-radius: 0 0 1.2rem 1.2rem;
  // position: sticky;
  // top: 0;
  // z-index: 100;
  // transition: 0.4s ease all;

  // &.active {
  //   background-color: rgba(255, 255, 255, 0.966);
  // }

  .sub-nav--p {
    cursor: pointer;
    font-family: PoppinsRegular, sans-serif;
    font-size: 1.5rem;
    font-weight: 500;
    color: #9dbfa5;
    transition: 0.4s ease all;

    &.active {
      color: #ad0002;
      transform: scale(1.04);
      font-weight: bold;
      position: relative;

      &::before {
        content: "";
        background-color: #ad0002;
        width: 100%;
        height: 2px;
        position: absolute;
        border-radius: 20px;
        bottom: -6px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &.dark-mode {
      color: #ff3336;
      transform: scale(1.04);
      font-weight: bold;
      position: relative;

      &::before {
        content: "";
        background-color: #ff3336;
        width: 100%;
        height: 2px;
        position: absolute;
        border-radius: 20px;
        bottom: -6px;
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .navbar {
    position: sticky;
    top: 0;
    z-index: 200;
    background-color: white;

    .top {
      grid-template-columns: 1fr;
      position: relative;

      .navbar-mobile {
        position: absolute;
        display: block;
        left: 0;
        top: 50%;
      }

      .action-image {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        width: 16px;
        height: 12px;

        .line {
          position: absolute;
          width: 100%;
          height: 1.6px;
          background-color: rgb(17, 92, 2);
          transition: 0.4s ease all;
        }

        .line:nth-child(1) {
          top: 0px;
        }

        .line:nth-child(2) {
          top: 50%;
        }

        .line:nth-child(3) {
          top: 100%;
        }

        .line-one.active {
          transform: rotate(135deg);
          top: 50%;
        }

        .line-two.active {
          // transform: translateX(100%);
          transform: translateX(-60px);
          opacity: 0;
        }

        .line-three.active {
          transform: rotate(-135deg);
          top: 50%;
        }
      }

      .orar {
        display: none;
      }

      .media {
        display: none;
      }

      .flag {
        display: none;
      }
    }
  }

  .navbar--sub-nav {
    display: none;
  }
}
