.rating-stars-wrapper {
    display: inline-flex;

    .star-image {
        background-color: transparent;
        position: relative;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-content: center;;
        cursor: pointer;
        width: 27px;
    }
}

.rating-result {
    display: flex;
    gap: 3px;
    padding: 6px 0;

    .image {
        position: relative;
        width: 14px;
        height: 14px;
    }
}