.story-section {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  margin: 100px 0;

  .story-left {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .left-image-container {
      // background-color: red;
      position: absolute;
      right: -60px;
      top: 40px;
      max-width: 313px;
      min-width: 313px;
      width: 100%;
      height: 321px;

      .left-image {
        width: 100%;
        height: 100%;
        position: relative;
      }
    }
  }

  .story-main {
    border-radius: 20px;
    box-shadow: 0 0 20px $shadow-gray;

    background-color: white;
    padding: 40px;

    .logo {
      position: relative;
      max-width: 408px;
      width: 100%;
      height: 116px;
      margin: auto;
    }

    .title {
      margin: auto;
      max-width: 412px;
      width: 100%;
      height: 96px;
      margin: 30px auto 51px auto;

      h1 {
        font-size: 8rem;
        color: #9dbfa5;
        text-shadow: 0 2px 4px rgba(77, 77, 77, 0.3);
        font-weight: bold;
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      gap: 26px;

      max-width: 505px;
      width: 100%;
      margin: auto;

      p {
        text-shadow: 0 1px 1px rgba(77, 77, 77, 0.3);
        font-family: PoppinsRegular, sans-serif;
        font-size: 1.5rem;
        font-weight: 500;
        color: #9dbfa5;

        .red {
          color: #ef706b;
        }

        .green {
          color: #3e7b48;
        }
      }
    }
  }

  .story-right {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .right-image-container {
      max-width: 300px;
      width: 100%;
      height: 400px;
      min-width: 300px;
      position: absolute;
      top: 140px;
      left: -8%;

      .right-image {
        position: relative;
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media (max-width: $breakpoint-tablet) {
  .story-section {
    grid-template-columns: 1fr;
    margin: 100px 0;

    .story-left {
      display: none;
    }

    .story-right {
      display: none;
    }
  }
}

@media (max-width: 1150px) {
  .story-section {
    grid-template-columns: 1fr;
    margin: 100px 0;
    width: 90%;
    margin-left: auto;
    margin-right: auto;

    .story-left {
      display: none;
    }

    .story-right {
      display: none;
    }
  }
}

@media (max-width: 620px) {
  .story-section {
    display: none;
  }
}
