.tour-section {
    margin: 100px 0;
  .tour-wrapper {
    .images-top {
      position: relative;
      .poster-image {
        position: relative;
        max-width: 1250px;
        width: 100%;
        height: 360px;
        margin: 0 auto 150px auto;
      }

      .profile-image-container {
        position: absolute;
        max-width: 254.3px;
        width: 100%;
        height: 270px;
        bottom: -34%;
        left: 50%;
        transform: translateX(-50%);

        .image {
          width: 100%;
          height: 100%;
          position: relative;
        }
      }
    }

    .orar {
      display: flex;
      flex-direction: column;
      align-items: center;

      .title {
        margin-bottom: 28px;

        h1 {
          text-shadow: 0 1px 2px rgba(77, 77, 77, 0.3);
          font-size: 50px;
          font-weight: 500;
          color: #ef706b;
        }
      }

      .subtitle {
        max-width: 596px;
        width: 100%;
        text-align: center;
        margin-bottom: 68px;

        h1 {
          text-shadow: 0 1px 1px rgba(77, 77, 77, 0.3);
          font-size: 15px;
          font-weight: normal;
          color: #ef706b;
        }
      }

      ul.program {
        max-width: 1200px;
        width: 100%;

        li {
          margin-bottom: 36px;
          display: grid;
          grid-template-columns: 1fr 1fr 1fr;
          column-gap: 200px;

          h1 {
            text-shadow: 0 1px 2px rgba(77, 77, 77, 0.3);
            font-size: 23px;
            font-weight: 500;
            color: #9dbfa5;
            text-align: end;
          }

          h2 {
            text-shadow: 0 1px 2px rgba(77, 77, 77, 0.3);
            font-size: 23px;
            font-weight: 500;
            color: #ef706b;
            text-align: center;
          }

          .location {
            h4 {
              font-size: 18px;
              font-weight: 300;
              color: #4d4d4d;
            }

            p {
              font-size: 15px;
              font-weight: 500;
              color: #4d4d4d;
            }
          }
        }
      }
    }
  }
}
