.product-details-page {
  .product-details {
    .go--back-wrapper {
      padding-top: 3rem;
      .go--back {
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 1.5rem;
        color: $color-green;
        transition: 0.2s ease-out;
        gap: 0.5rem;

        &:hover {
          color: $color-shadow;
          transition: 0.2s ease-out;
        }
        &:hover.go--back .go--back-icon {
          color: $color-shadow;
          transition: 0.2s ease-out;
        }

        .go--back-icon {
          font-size: 4rem;
          color: $color-green;
          transition: 0.2s ease-out;
          display: flex;
          align-items: center;

          &:hover {
            color: $color-shadow;
            transition: 0.2s ease-out;
          }
        }
      }
    }
    .product-details--presentation {
      .top {
        max-width: 1336px;
        width: 100%;

        display: grid;
        grid-template-columns: minmax(390px, 40%) auto;
        grid-column-gap: 60px;
        padding: 40px 0px;

        .image-container {
          width: 100%;
          // width: 45rem;
          height: 40rem;
          min-width: 45rem;
          max-width: 45rem;
          max-height: 40rem;
          border-radius: 1.5rem;
          box-shadow: 0 0.5px 7.5px 0 rgba(24, 100, 37, 0.2);
          background-image: linear-gradient(to bottom, #ddf8e4, #c0f2cd);
          // justify-self: center;

          .image {
            position: relative;
            width: 100%;
            height: 100%;
            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }

        .details {
          width: 100%;

          .title {
            h1 {
              font-size: 3rem;
              font-weight: bold;
              color: #168c34;
              font-family: "PoppinsRegular", sans-serif;
            }

            h2 {
              font-family: PoppinsRegular, sans-serif;
              font-size: 1.4rem;
              color: #ad0002;
            }
          }

          .ingredients {
            display: flex;
            flex-direction: column;
            gap: 14px;
            margin-top: 28px;

            li {
              display: flex;
              align-items: center;
              gap: 6px;

              .image {
                position: relative;
                max-width: 10px;
                width: 100%;
                height: 8px;
              }

              p {
                font-family: PoppinsRegular, sans-serif;
                font-size: 1.4rem;
                color: #4d4d4d;
              }
            }
          }
        }
      }

      .bottom {
        display: grid;
        grid-template-columns: minmax(390px, 40%) auto;
        column-gap: 60px;
        // padding: 0 20px;

        .mini-comments {
          max-height: 180px;
          overflow-y: hidden;
          position: relative;
          width: 100%;
          max-width: 45rem;
        }

        .comment {
          max-width: 45rem;
          width: 100%;
          padding: 20px;
          border-radius: 1.5rem;
          box-shadow: 0 0.5px 5px 0 rgba(24, 100, 37, 0.2);
          background-color: #fff;

          .comment-name {
            font-size: 1.5rem;
            font-family: "PoppinsRegular";
            color: $color-green-dark;
          }
          .description {
            max-width: 45rem;
            width: 100%;
            padding: 2rem 0;
            font-size: 1.5rem;
            font-family: "PoppinsRegular";
            line-height: 2.3rem;
            color: #696969;
            // background-color: #fff;
          }
        }

        .description-right {
          max-width: 64.7rem;
          width: 100%;
          padding: 3rem;
          font-family: "PoppinsRegular";
          line-height: 2.3rem;
          color: #696969;
          border-radius: 1.5rem;
          // box-shadow: 0 0.5px 5px 0 rgba(24, 100, 37, 0.2);
          background-color: #fff;

          .title {
            h1 {
              font-size: 2.5rem;
              color: #19832b;
              font-family: "PoppinsRegular", sans-serif;
            }

            div.line {
              max-width: 50px;
              width: 100%;
              height: 2px;
              background-color: #ad0002;
            }
          }

          .text {
            max-width: 531px;
            width: 100%;
            margin-top: 14px;

            p {
              font-family: PoppinsRegular, sans-serif;
              font-size: 1.4rem;
              font-weight: normal;
              color: #696969;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .product-details-page {
    .product-details {
      .product-details--presentation {
        .top {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr;
          grid-row-gap: 20px;

          .image-container {
            width: 80%;
            max-width: 400px;
            min-width: 340px;
            height: 90%;
          }

          .details {
            width: 80%;
            margin: auto;
            max-width: 400px;
          }
        }

        .bottom {
          grid-template-columns: 1fr;

          .mini-comments {
            grid-row: 2 / 3;
            width: 90%;
            margin: auto;
          }

          .description {
            grid-row: 1 / 2;
            width: 90%;
            margin: auto;
          }
        }
      }
    }
  }
}
