.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 40px;

  .footer__top {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    //! media
    .footer-media {
      .footer-logo-image {
        position: relative;
        max-width: 140px;
        width: 100%;
        height: 80px;
      }

      .footer-social {
        margin-top: 40px;

        p {
          text-shadow: 0 0.5px 0.5px rgba(77, 77, 77, 0.3);
          font-family: PoppinsRegular, sans-serif;
          font-size: 14px;
          font-weight: normal;
          color: #3e7b48;
          margin-bottom: 10px;
        }

        .images-wrapper {
          display: flex;
          gap: 10px;
          align-items: center;

          .fb-image {
            position: relative;
            max-width: 20px;
            width: 100%;
            height: 20px;
            cursor: pointer;
          }

          .ig-image {
            @extend .fb-image;
          }

          .wp-image {
            @extend .fb-image;
            max-width: 24px;
            width: 100%;
            height: 24px;
          }
        }
      }
    }

    //! orar
    ul.footer-orar {
      display: flex;
      flex-direction: column;
      gap: 6px;
      padding-top: 40px;
      align-items: flex-end;
      padding-right: 40px;

      .days {
        min-width: 70px;
        text-align: end;

        p {
          text-shadow: 0 0.5px 0.5px rgba(77, 77, 77, 0.3);
          font-family: PoppinsRegular, sans-serif;
          font-size: 13px;
          font-weight: normal;
          color: #3e7b48;
        }
      }

      li {
        display: flex;
        gap: 15px;
        align-items: center;

        .shifts {
          display: flex;
          gap: 6px;

          p {
            text-shadow: 0 0.5px 0.5px rgba(77, 77, 77, 0.3);
            font-family: PoppinsRegular, sans-serif;
            font-size: 10px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            text-align: left;
            color: #4d4d4d;
          }
        }
      }
    }
  }

  .footer-right {
    max-width: 450px;
    width: 100%;
    height: 250px;
background-color: lightgreen;
    .map__wrapper {
      width: 100%;
    }

    .map__address {
      width: 100%;
      display: flex;
      align-items: center;
      margin-bottom: 1.3rem;

      .map__address--icon-wrapper {
        display: flex;
        font-size: 2rem;
        height: 2rem;
        color: $color-primary-red;
        margin-right: 1rem;
      }
      .map__address--text {
        width: 100%;
        display: flex;
        justify-content: space-between;
        font-size: 1.5rem;
        font-family: "PoppinsRegular";
        line-height: 2.3rem;
        color: $color-green-dark;

        .map__address--text-right {
          //   justify-self: flex-end;
        }
      }
    }
  }

  .footer__nav {
    width: 100%;
    // display: flex;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 5rem 0 3rem 0;

    .footer__nav--list {
      width: 100%;
      display: flex;

      .footer__nav--item {
        margin-right: 2rem;

        .footer__link {
          font-size: 1.2rem;
          font-family: "PoppinsMedium";
          line-height: 1.8rem;
          color: $color-green-dark;
          &:hover {
            color: $color-primary-red;
            transition: color 0.3s ease-out;
          }
        }
      }
    }
    .footer__link--copyright {
      justify-self: center;
      font-size: 1.2rem;
      font-family: "PoppinsMedium";
      line-height: 1.8rem;
      color: $color-green-dark;
      &:hover {
        color: $color-primary-red;
        transition: color 0.3s ease-out;
      }
    }
    .footer__link--phoneNr {
      justify-self: center;
      font-size: 1.8rem;
      display: flex;
      align-items: center;
      font-family: "PoppinsMedium";
      line-height: 2.7rem;
      color: $color-shadow;
      text-shadow: 0 1px 1px rgba($color-shadow, 0.3);
      transition: color 0.3s ease-out;

      &:hover {
        color: $color-primary-red;
        transition: color 0.3s ease-out;
      }
      &:hover .map__phoneNr--icon-wrapper {
        color: $color-primary-red;
        transition: color 0.3s ease-out;
      }

      .map__phoneNr--icon-wrapper {
        font-size: 1.8rem;
        color: $color-primary-green;
        display: flex;
        margin-right: 1rem;
        filter: drop-shadow(0 1px 2px rgba($color-shadow, 0.3));
        transition: color 0.3s ease-out;
        svg {
          transform: rotate(45deg);
        }
        &:hover {
          color: $color-primary-red;
          transition: color 0.3s ease-out;
        }
      }
    }
  }
}

@media (max-width: 620px) {
  .footer {
    display: none;
  }
}