.product-details-page {
    .product-details {
      .product-details--presentation {
        display: grid;
        grid-template-columns: 30% 80%;
  
        .image-container {
          max-width: 400px;
          width: 100%;
          height: 285.7px;
  
          .image {
            position: relative;
            width: 100%;
            height: 100%;
          }
        }
  
        .details {
          padding-top: 42px;
          padding-left: 100px;
  
          .title {
            h1 {
              font-size: 30px;
              font-weight: 500;
              color: #168c34;
              font-family: "PoppinsMedium", sans-serif;
            }
  
            h2 {
              font-size: 18px;
              color: #ffa5c1;
              margin: 6px 0 44px 0;
              font-weight: 500;
              font-family: 'PoppinsRegular', sans-serif;
            }
          }
  
          .description {
            .title {
              h1 {
                font-size: 25px;
                color: #a2c3aa;
                margin: 95px 0 14px 0;
                font-family: "PoppinsRegular", sans-serif;
              }
  
              div.line {
                max-width: 50px;
                width: 100%;
                height: 2px;
                background-color: #457e54;
                margin-bottom: 20px;
              }
            }
  
            .text {
              max-width: 531px;
              width: 100%;
              height: 235px;
  
              p {
                font-size: 18px;
                color: #ffa5c1;
                line-height: 28px;
                font-family: "PoppinsRegular", sans-serif;
              }
            }
          }
        }
      }
    }
  }