.product-details-carousel {
  max-width: 1366px;
  width: 100%;
  height: 394px;
  margin: 100px 0;

  .embla__prev {
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: 50%;
    transform: translateY(-50%);
    left: 4%;
    border: none;
    outline: none;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
  }

  .embla__next {
    position: absolute;
    width: 4rem;
    height: 4rem;
    top: 50%;
    transform: translateY(-50%);
    right: 4%;
    border: none;
    outline: none;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
  }

  .embla-details {
    position: relative;
    height: 100%;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 1px 12px 0 rgba(22, 140, 52, 0.25);
    background-color: #fff;
  }

  .embla__container-details {
    display: flex;
    height: 100%;
  }

  .embla__slide-details {
    position: relative;
    flex: 0 0 33.3333%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .image {
      position: relative;
      width: 210px;
      height: 150px;
    }
  }
}
