.product-details-page {
  .product-details {
    .product-details--presentation {
      .top {
        max-width: 1000px;
        width: 100%;

        display: grid;
        grid-template-columns: minmax(390px, 30%) auto;
        grid-column-gap: 30px;
        padding: 40px 20px;

        .image-container {
          width: 100%;
          height: 100%;
          max-height: 288px;
          border-radius: 15px;
          box-shadow: 0 0.5px 7.5px 0 rgba(24, 100, 37, 0.2);
          background-image: linear-gradient(to bottom, #ddf8e4, #c0f2cd);
          justify-self: center;

          .image {
            position: relative;
            width: 100%;
            height: 100%;
          }
        }

        .details {
          width: 100%;

          .title {
            h1 {
              font-size: 30px;
              font-weight: bold;
              color: #168c34;
              font-family: "PoppinsRegular", sans-serif;
            }

            h2 {
              font-family: PoppinsRegular, sans-serif;
              font-size: 14px;
              color: #ad0002;
            }
          }

          .ingredients {
            display: flex;
            flex-direction: column;
            gap: 14px;
            margin-top: 28px;

            li {
              display: flex;
              align-items: center;
              gap: 6px;

              .image {
                position: relative;
                max-width: 10px;
                width: 100%;
                height: 8px;
              }

              p {
                font-family: PoppinsRegular, sans-serif;
                font-size: 14px;
                color: #4d4d4d;
              }
            }
          }
        }
      }

      .bottom {
        display: grid;
        grid-template-columns: minmax(390px, 30%) auto;
        column-gap: 30px;
        padding: 0 20px;

        .mini-comments {
          max-height: 180px;
          overflow-y: hidden;
          position: relative;
          width: 100%;
          max-width: 500px;
        }

        .description {
          max-width: 500px;
          width: 100%;
          padding: 20px;
          border-radius: 7.5px;
          box-shadow: 0 0.5px 5px 0 rgba(24, 100, 37, 0.2);
          background-color: #fff;

          .title {
            h1 {
              font-size: 25px;
              color: #19832b;
              font-family: "PoppinsRegular", sans-serif;
            }

            div.line {
              max-width: 50px;
              width: 100%;
              height: 2px;
              background-color: #ad0002;
            }
          }

          .text {
            max-width: 531px;
            width: 100%;
            margin-top: 14px;

            p {
              font-family: PoppinsRegular, sans-serif;
              font-size: 14px;
              font-weight: normal;
              color: #696969;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 700px) {
  .product-details-page {
    .product-details {
      .product-details--presentation {
        .top {
          grid-template-columns: 1fr;
          grid-template-rows: 1fr 1fr;
          grid-row-gap: 20px;

          .image-container {
            width: 80%;
            max-width: 400px;
            min-width: 340px;
            height: 90%;
          }

          .details {
            width: 80%;
            margin: auto;
            max-width: 400px;
          }
        }

        .bottom {
          grid-template-columns: 1fr;
          
          .mini-comments {
            grid-row: 2 / 3;
            width: 90%;
            margin: auto;
          }

          .description {
            grid-row: 1 / 2;
            width: 90%;
            margin: auto;
          }
        }
      }
    }
  }
}
