.navbarHome {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 3rem 0;

  .navbarHome__list {
    display: flex;
    justify-content: center;

    .navbarHome__item {
      margin-right: 3rem;
      position: relative;
      font-size: 1.5rem;
      font-family: "PoppinsMedium";
      line-height: 2.25rem;
      color: $color-green;
      cursor: pointer;
      text-transform: uppercase;
      text-decoration: none;
      position: relative;

      &:hover {
        color: $color-shadow;
      }

      &:nth-last-child(1) {
        margin-right: 0;
      }
    }
  }
}
