.sign-in-page--background {
  position: relative;
  // overflow: hidden;

  .logo {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 60px;
    margin-bottom: 3rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  .eclipse-image {
    position: relative;
    width: 100%;
    height: 100%;
  }

  // .eclipse-left-container {
  //   max-width: 600px;
  //   width: 100%;
  //   height: 600px;
  //   position: absolute;
  //   top: -40%;
  //   left: 8%;
  // }

  // .eclipse-right-container {
  //   max-width: 600px;
  //   width: 100%;
  //   height: 600px;
  //   position: absolute;
  //   top: -40%;
  //   right: -8%;
  // }

  // .eclipse-bottom-container {
  //   max-width: 600px;
  //   width: 100%;
  //   height: 600px;
  //   position: absolute;
  //   bottom: -40%;
  //   left: 50%;
  //   transform: translateX(-50%);
  // }
}

.sign-in-page {
  // background: linear-gradient(119deg, #15223be1, #1d2e5de3);
  background: #f4f6fd;
  min-height: 80vh;
  // height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  // backdrop-filter: blur(20px);
  // overflow: hidden;

  .sign-in {
    max-width: 550px;
    width: 100%;
    height: 517px;
    padding: 60px 100px;
    border-radius: 15px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 0 2.5px 10px 0 rgba(0, 78, 168, 0.2);
    background-color: #fff;
    padding: 60px 100px;
    color: white;

    form.sign-in--form {
      h1 {
        font-family: PoppinsRegular, sans-serif;
        font-size: 2.5rem;
        font-weight: normal;
        color: #15223b;
      }

      h2 {
        font-family: PoppinsRegular, sans-serif;
        font-size: 1.6rem;
        font-weight: normal;
        color: #848484;
        margin: 25px 0 22px 0;
      }

      .sign-in-input--wrapper {
        position: relative;
        margin-bottom: 3rem;
        max-width: 350px;
        width: 35vw;
        min-width: 250px;
        // width: 100%;

        .image-container {
          position: absolute;
          top: 50%;
          left: 17px;
          transform: translateY(-50%);

          .image {
            position: relative;
            width: 24px;
            height: 24px;
          }
        }

        input {
          // max-width: 35rem;
          width: 100%;
          // height: 58px;
          padding: 18px 18px 18px 60px;
          border-radius: 1.5rem;
          box-shadow: 0 0.5px 5px 0 rgba(0, 78, 168, 0.2);
          border: solid 0.5px #15223b;
          background: transparent;

          font-family: PoppinsRegular, sans-serif;
          font-size: 1.6rem;
          font-weight: normal;
          color: $color-shadow;

          outline: none;
          &:focus {
            border: 1px solid #255adb;
          }
        }

        p {
          position: absolute;
          right: 20px;
          top: 50%;
          transform: translateY(-50%);
          font-family: PoppinsRegular, sans-serif;
          font-size: 1.6rem;
          font-weight: normal;
          color: #989898;
          cursor: pointer;
        }
      }

      .checking {
        display: flex;
        align-items: center;
        gap: 2rem;
        margin-bottom: 3rem;

        p {
          font-size: 1.6rem;
          color: #989898;
        }

        .check {
          width: 24px;
          height: 24px;
          border-radius: 2.5px;
          border: 1px solid #255adb;
          cursor: pointer;

          &.checked {
            background-image: url("../../public/assets/register-page/check.svg");
            background-repeat: no-repeat;
            background-size: 8px 5.8px;
            background-position: center;
            background-color: #255adb;
          }
        }
      }

      button {
        max-width: 35rem;
        width: 35rem;
        height: 58px;
        border-radius: 1.5rem;
        background-color: #255adb;
        border: none;
        outline: none;

        font-family: PoppinsRegular, sans-serif;
        font-size: 1.6rem;
        font-weight: normal;
        color: #fff;
        cursor: pointer;
        transition: 0.2s ease-out;

        &:hover {
          box-shadow: 0 1px 5px 0 rgba(2, 56, 117, 0.397);
          transition: 0.2s ease-out;
        }
      }
    }
  }

  .sign-in--help {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    gap: 10px;

    .register {
      display: flex;
      gap: 4px;
      align-items: center;

      p,
      a {
        font-family: PoppinsRegular, sans-serif;
        font-size: 1.6rem;
        font-weight: normal;
        color: #848484;
      }

      a {
        color: #4275f4;
      }
    }

    .forget-password {
      a {
        font-family: PoppinsRegular, sans-serif;
        font-size: 1.6rem;
        font-weight: normal;
        color: #4275f4;
      }
    }
  }
}
